body {
	margin: 0;
}

.header  {
	background: #999000;
	padding: 10px;
}

.header a {
	font-size: 20pt;
	font-weight: bold;
	color: #F5F5F5;
}

b {
	font-size: 150%;
	font-weight: bold;
	margin: auto;
}

.garis-bawah {
	border-bottom: 2px solid grey;
	width: 30%;
}

form {
	width: 40%;
	margin: auto;
	text-align: center;
	margin-top: 60px;
}

.input {
	margin: 5px auto;
	border:0;
	border-bottom: 1px solid black;
	font-size: 12pt;
	outline: 0;
}

button {
	width: 25%;
	padding: 2px;
	font-weight: bold;
	font-size: 11pt;
	background: #999000;
	color: white;
	border: 1px solid #000;
}



@media(min-width:0px) and (max-width:800px) {
.header a {
	font-size: 200%;
}

.garis-bawah {
	width: 80%;
}

form {
	width: 100%;
}

.input {
	width: 70%;
	font-size: 5.6vw;
}
}